@media (max-width: 1000px) {
  .display-none {
    display: none;
  }
}
@media (max-width: 870px) {
  .main-item-pic {
    width: 300px;
    height: 280px;
  }
}
@media (max-width: 800px) {
  .display-none-800 {
    display: none;
  }
  .bottom-nav {
    height: 3.3rem;
  }
}
@media (max-width: 680px) {
  .display-none-600 {
    display: none;
  }
  .top-nav-box .amazon-logo > img {
    width: 55px;
    height: 22px;
  }
  .top-nav-box .amazon-logo {
    width: 55px;
    height: 22px;
  }
  .ads-layer img {
    height: 26px;
    width: 180px;
  }
}
@media (max-width: 550px) {
  .display-none-550 {
    display: none;
  }
  .bottom-nav {
    height: 3.3rem;
  }
  .main_content_box {
    flex-direction: column;
    justify-content: center;
  }
  .cart-pic {
    display: none;
  }
  .main-item-pic {
    /* width: 250px;
    height: 230px; */
    flex-grow: 1;
  }
  .bottom-nav {
    height: 3.6rem;
  }
  .bottom-nav h5 {
    font-size: 12px;
    padding-top: 0.3rem;
  }
  .middle-nav li a {
    padding: 0 0.3rem;
    font-size: 12px;
  }
  .main_content_right_box {
    width: 95%;
  }
}
