@font-face {
  font-family: "amazon";
  src: url("/assets/fonts/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2")
    format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-box-links: #007185;
  --orange: #c16803;
  --primary-grey: #565959;
}

body {
  height: 350vh;
  font-family: "amazon";
}
ul {
  list-style: none;
}
header a {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.main-layout {
  width: 95%;
}
.top-nav-btn {
  padding: 0.5rem 0.5rem;
}
.top-nav-btn:hover {
  border: rgb(255, 255, 255) 1.5px solid;
}
.top-nav-line1 {
  font-size: 12px;
}
.top-nav-line2 {
  font-size: 14px;
}
.forms-lable {
  border: none;
}
.main_content_box a {
  color: var(--main-box-links);
}
.main_content_box a:hover {
  color: var(--orange);
  text-decoration: underline;
}
