@font-face {
  font-family: "amazon";
  src: url("/assets/fonts/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2")
    format("woff2");
}
@font-face {
  font-family: "amazon-b";
  src: url("/assets/fonts/AmazonEmber_Bd.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-box-links: #007185;
  --dark-orange: #cc6600;
  --primary-grey: #565959;
  --orange: #ffa500;
  --light-grey: #f7f8f8ff;
  --trans-orange: #ffbd69ff;
  --warning-red: #b83d1fff;
  --light-border: 1px solid lightgray;
  --yellow-btn: #ffd814ff;
  --border: solid 1px lightgrey;
}

body {
  height: 350vh;
  font-family: "amazon", "amazon-b", Arial, sans-serif;
}
ul {
  list-style: none;
}
header a {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.main-layout {
  width: 95%;
}
.top-nav-btn {
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
}
.top-nav-btn:hover {
  outline: rgb(255, 255, 255) 1.5px solid;
}
.flag-botton {
  align-items: flex-end;
  word-spacing: 0.2rem;
  /* align-items: flex-end; */
  /* text-align: center; */
}
.top-nav-line1 {
  font-size: 12px;
}
.top-nav-line2 {
  font-size: 14px;
  font-family: "amazon-b";

  /* color: white;
  text-shadow: 1px 0 white;
  letter-spacing: 1px;
  font-weight: bold; */
}
.forms-lable {
  border: none;
}
.middle-nav li a {
  font-size: 14px;
}
.main_content_box a {
  color: var(--main-box-links);
}
.main_content_box a:hover {
  color: var(--dark-orange);
  text-decoration: underline;
}
.shopping-btn {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 0;
  font-size: 12px;
  cursor: pointer;
  margin: 0.3rem 0;
}
.yellow {
  background-color: var(--yellow-btn);
}
.orange {
  background-color: var(--orange);
  margin-bottom: 0.5rem;
}
.add-to-list-btn {
  width: 100%;
  padding: 0.5rem 0.7rem;
  font-size: 13px;
  text-align: left;
  border: 1px solid grey;
  border-radius: 4px;
  /* box-shadow: 1px 1px gray; */
}
.more-item-card {
  height: 275px;
  width: 160px;
}
.placholder {
  justify-content: flex-end;
}
.warnings {
  color: var(--warning-red);
}
.policy-info {
  line-height: 1.2rem;
  font-size: 14px;
}
/* .shrink-search {
  flex-shrink: 1;
  width: 34rem;
  flex-grow: 1;
} */
.small {
  font-size: 12px;
}
.more-item-card img {
  width: 135px;
  height: 135px;
}
.more-item-card {
  line-height: normal;
  color: var(--main-box-links);
  font-size: 14px;
  padding: 0 0.5rem;
  flex-shrink: 1;
}
.more-item-card p:hover {
  color: var(--dark-orange);
}
.bold {
  font-family: "amazon-b";
}
.black-bold {
  font-family: "amazon-b";
  color: black;
}
