@font-face {
  font-family: "amazon";
  src: url("/assets/fonts/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2")
    format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-box-links: #007185;
  --dark-orange: #cc6600;
  --primary-grey: #565959;
  --orange: #ffa500;
  --light-grey: #f7f8f8ff;
}

body {
  height: 350vh;
  font-family: "amazon";
}
ul {
  list-style: none;
}
header a {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.main-layout {
  width: 95%;
}
.top-nav-btn {
  padding: 0.5rem 0.5rem;
}
.top-nav-btn:hover {
  border: rgb(255, 255, 255) 1.5px solid;
}
.top-nav-line1 {
  font-size: 12px;
}
.top-nav-line2 {
  font-size: 14px;
}
.forms-lable {
  border: none;
}
.main_content_box a {
  color: var(--main-box-links);
}
.main_content_box a:hover {
  color: var(--dark-orange);
  text-decoration: underline;
}
.shopping-btn {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 0;
  font-size: 12px;
  cursor: pointer;
}
.add-to-list-btn {
  width: 100%;
  padding: 0.5rem 0.7rem;
  font-size: 13px;
  text-align: left;
  border: 1px solid grey;
  border-radius: 4px;
  /* box-shadow: 1px 1px gray; */
}
